.multi-element {
  &__data {
    margin: 40px;
  }

  &__container {
    display: grid;
    grid-template-columns: 20px 40px 40px 1fr;
  }

  &__myinput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    font-size: 24px;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }
}

input[type=checkbox] {
  transform: scale(1.5);
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 17px;
  visibility: hidden;
}

input[type=checkbox]:after {
  content: " ";
  background-color: #fff;
  display: inline-block;
  margin-left: 10px;
  color: #00BFF0;
  width: 22px;
  height: 25px;
  visibility: visible;
  border: 1px solid #00BFF0;
  padding-left: 3px;
  border-radius: 5px;
}

input[type=checkbox]:checked:after {
  content: "\2714";
  padding: -5px;
  font-weight: bold;
}
