<h1 class="custom__header">Реализация кастомного элемента</h1>

<div *ngIf="(data$ | async) as data else spinner"
     class="custom__container">
  <ng-container *ngIf="data !== 'error' else error">
    <div class="custom__tree">
      <div class="custom__title">Выбрано {{selectedArr.length | elements}}</div>
      <div class="custom__tree-container">
        <app-multy-element *ngFor="let node of data"
                           [node]="node"
                           (valueChange)="selectValue($event, data)"></app-multy-element>
      </div>
    </div>
    <app-selected-elements [selectedElements]="selectedArr"
                           (selectedElementsChange)="deleteElements($event, data)"></app-selected-elements>

  </ng-container>
</div>

<ng-template #spinner>
<app-spinner></app-spinner>
</ng-template>

<ng-template #error>
<app-error-page></app-error-page>
</ng-template>
